.skillsCard{    
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    font-size: 1.3em;   
    width: 80%;
}
.skillsTitle{
    width: 100%;
    margin: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid gray;
}
.skillsList{
    display: flex;
    flex-wrap: wrap;
}