.aboutCard{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    font-size: 1.3em;   
    width: 80%;
}
.aboutTitle{
    width: 100%;
    margin: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid gray;
}
.picContainer{
    width: 5em;
    height: 5em;
    border-radius: 50%;
}
.picContainer img{
    width: 100%;
    border-radius: 50%;
}