.containerHomeBody{
    display: flex;
    justify-content: center;
    text-align: left;
    font-size: 1.3em;    
    width: 80%;
}
.homeCard{
    display: flex;
    flex-direction: column;
    padding: 5%;
    border-radius: 5%;
    background-color: rgba(0, 0, 0, .3);
}
.bodyHome{
    margin: 4% 0%;
}

/* @media(min.width:) */