.containerButtonsNavBar{
    position: -webkit-sticky;
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: rgba(0, 0, 0,.3);
}